/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.html
 */
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 
.flexslider .flex-direction-nav .flex-prev{
	top:45%;
	left:25px;
	text-indent: -9999px;
	width: 16px;
	height: 33px;
	background: url("../images/flex-prev.png") no-repeat left top;
}
.flexslider .flex-direction-nav .flex-next{
	top:45%;
	right:25px;
	text-indent: -9999px;
	width: 16px;
	height: 33px;
	background: url("../images/flex-next.png") no-repeat left top;
}
#coca-customers .flex-direction-nav {
	display: none !important;
}
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0;position: relative;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {width: 40%; position: absolute; right: 0; bottom: 0; background: #000; color: #fff; font-size: 12px; padding: 25px; opacity:0.8; filter:alpha(opacity=80); }

/* Direction Nav */
.flex-direction-nav li a {width: 35px; height: 35px; margin:0; display: block; position: absolute;cursor: pointer;text-align:center;background-color: rgba(0, 0, 0, 0.4);}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {margin-top:61px;text-align: center;}
.flex-control-nav li {margin: 0 0 0 0px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 15px; height: 15px; display: block; cursor: pointer; text-indent: -9999px;margin-right:16px;background: url("../images/flixslide-nav.png") no-repeat top left;}
.single-portfolio .flex-control-nav li a {
	background: url("../images/portfolio_single_nav.png")
}
.single-portfolio .flex-control-nav li a:hover,
.single-portfolio .flex-control-nav li a.flex-active{
	background: url("../images/portfolio_single_nav_active.png")
}
.flex-control-nav li a:hover {background: url("../images/flixslide-nav-active.png") no-repeat top left;}
.flex-control-nav li a.flex-active {cursor: default;background: url("../images/flixslide-nav-active.png") no-repeat top left;}

